html, body {
  font-size: 16px;
}

a, a:hover, a:visited {
  color: #333;
}

a:hover {
  color: orange;
  text-decoration: none;
}

.header {
  font-size: 0.8em;
}

ul .info {
border-left: 1px solid #000;
}

.social-icons {
  font-size: 2em;
}

::selection {
    color: #333333;
    background: #ffe900;
}

::-moz-selection {
    color: #333333;
    background: #ffe900;
}
